<section id="our-history" class="sections">
  <div class="container">
    <div class="row">
      <div class="main-history">
        <div class="col-md-6 col-sm-12 col-xs-12">
          <div class="history-img">
            <img src="../../../assets/images/amarelinho.png">
            <img src="../../../assets/images/livro.jpg">
          </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
          <div class="history-wrapper">
            <div class="history-heading"> 
                <h5 class="our-history">Amarelinho</h5>
            </div>
            <div class="history-content">
                <p class="text-jump-line text-jump-line">
                  {{content}} 
                </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>