<footer class="page-footer bg-orange p-0">
  <div class="container">
    <div class="row mb-1 mt-2">
      <div class="col-2">
        <img style="height: 100px"  src="../../../assets/images/BEM_logo.png" title="Logo Biblioteca Em Movimento">
      </div>
      <div class="col-4">
        <div class="text-white p-2">
          <ul class="nobull">
            <li>
              <img src="../assets/icons/call_white_18dp.png">
              (71) X XXXX-XXXX
            </li>
            <li>
              <img src="../assets/icons/email_white_18dp.png">
              programabibliotecaemmovimento@gmail.com
            </li>
            <li>
              <img src="../assets/icons/person_white_18dp.png">
              facebook.com/bibliotecaemmovimento/
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Copyright © 2019 | 
      <a>Felipe Silva Rezende</a> | 
      <a>Andrey Evyk</a>
    </div>
  </div>
</footer>