<!--Home page style-->
<header id="home" class="sections">
    <div class="container">
        <div class="row">
            <div class="homepage-style">
                <!-- <div class="top-arrow hidden-xs text-center"><img src="assets/images/top-arrow.png" alt="" /></div> -->
                <div class="col-md-6 col-sm-6 col-xs-12 mt-5">
                    <div class="unique-apps">
                        <h2>Biblioteca<br>EM MOVIMENTO</h2>
                        <p style="font-size: 20px">
                                É um programa que contempla vários projetos que tem como 
                                proposta fomentar ações em prol da leitura e do incentivo 
                                a criação do gosto pelo hábito de ler.     
                        </p>
                        <button class="btn btn-dark waves-effect btn-large" [routerLink]="['/info']">
                            Ver mais
                            <span><i class="fa fa-paper-plane mr-2 ml-2"></i></span>
                        </button>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="slider-area">
                        <img src="../../../../../assets/images/gif_logo.gif">
                    </div>
                </div>
            </div>	
        </div>
    </div>
</header>